<app-statistics></app-statistics>
<form class="mx-20 my-3">
  <label
    for="default-search"
    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
    >Search</label
  >
  <div class="relative">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500 dark:text-gray-400"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        ></path>
      </svg>
    </div>
    <input
      (input)="onQuery($event)"
      type="search"
      id="default-search"
      class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Search By Name, Account Number..."
      required
    />
  </div>
</form>

<div class="overflow-x-auto shadow-md sm:rounded-lg m-11">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th class="px-6 py-3">Name</th>
        <th class="hidden md:table-cell px-6 py-3">email</th>
        <th class="hidden md:table-cell px-6 py-3">gender</th>
        <th class="hidden md:table-cell px-6 py-3">address</th>
        <th class="px-6 py-3"><span class="sr-only">Edit</span></th>
        <th class="px-6 py-3"><span class="sr-only">Delete</span></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let customer of customers"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <th
          routerLink="details/{{ customer.id }}"
          scope="row"
          class="cursor-pointer px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ customer.firstName + " " + customer.lastName }}
        </th>
        <td class="hidden md:table-cell px-6 py-4">{{ customer.email }}</td>
        <td class="hidden md:table-cell px-6 py-4">{{ customer.gender }}</td>
        <td class="hidden md:table-cell px-6 py-4">{{ customer.address }}</td>
        <td class="px-6 py-4 text-right">
          <a
            routerLink="edit/{{ customer.id }}"
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Edit</a
          >
        </td>
        <td class="px-6 py-4">
          <a
            href="#"
            (click)="delete(customer)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Delete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
