<div
  class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4"
>
  <div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1
        class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4"
      >
        About Us
      </h1>
      <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
        Our bank has been serving customers since <strong>1989</strong> and we
        take great pride in providing the highest level of customer service. Our
        mission is to help our customers achieve their financial goals by
        offering a wide range of banking products and services that are tailored
        to their unique needs. We believe in building strong relationships with
        our customers and our team of experienced and knowledgeable bankers is
        dedicated to providing personalized attention to each and every
        customer.
      </p>
    </div>
    <div class="w-full lg:w-8/12">
      <img
        class="w-full h-full"
        src="../../../assets/bcm-logo.png"
        alt="A group of People"
      />
    </div>
  </div>

  <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1
        class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800 dark:text-white pb-4"
      >
        Our Values
      </h1>
      <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">
        At BCM, we are committed to operating our business with integrity and
        transparency. We adhere to the highest standards of ethical conduct and
        are fully compliant with all regulatory requirements. We understand that
        banking is about more than just managing money. That's why we offer a
        variety of educational resources and financial planning tools to help
        our customers make informed decisions about their finances.
      </p>
    </div>
    <div class="w-full lg:w-8/12 lg:pt-8">
      <div
        class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md"
      >
        <div
          class="p-4 pb-6 flex justify-center flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
        >
          <img
            class="w-1/2 h-full md:block hidden"
            src="../../../assets/handshake.png"
            alt="commitment"
          />
          <img
            class="w-1/2 h-full md:hidden block"
            src="../../../assets/handshake.png"
            alt="Alexa featured Image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Commitment
          </p>
        </div>
        <div
          class="p-4 pb-6 flex justify-center flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
        >
          <img
            class="w-1/2 h-full md:block hidden"
            src="../../../assets/collaborate.png"
            alt="integrity"
          />
          <img
            class="w-1/2 h-full md:hidden block"
            src="../../../assets/collaborate.png"
            alt="Olivia featured Image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Integrity
          </p>
        </div>
        <div
          class="p-4 pb-6 flex justify-center flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
        >
          <img
            class="w-1/2 h-full md:block hidden"
            src="../../../assets/transparency.png"
            alt="transparency"
          />
          <img
            class="w-1/2 h-full md:hidden block"
            src="../../../assets/transparency.png"
            alt="Liam featued Image"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Transparency
          </p>
        </div>
        <div
          class="p-4 pb-6 flex justify-center flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"
        >
          <img
            class="w-1/2 h-full md:block hidden"
            src="../../../assets/ethical.png"
            alt="Elijah featured image"
          />
          <img
            class="w-1/2 h-full md:hidden block"
            src="../../../assets/ethical.png"
            alt="ethical conduct"
          />
          <p
            class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4"
          >
            Ethical Conduct
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
